{% macro main(text) %}
    <button class="custom-button" onclick="test()">{{ text }}</button>
{% endmacro %}

{% macro second(text) %}
    <button class="custom-button-2" onclick="test()">{{ text }} 2nd</button>
{% endmacro %}

