.nav-main{
	display: flex;
	margin: 48px auto 56px;
	width: 200px;
}

.nav-main-link{
	font-size: 20px;
	font-weight: 800;
	color: white;
	text-transform: capitalize;
	text-decoration: none;
	margin-left: 12px;
	opacity: 80%;
	&:visited{
		color: white;
	}
}
